<h3>Orbit Report</h3>
<app-orbit-list [satellites]="displayList"></app-orbit-list>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let sourceList of satellites">
    <td>
       {{sourceList.name}}
   </td>
      <td [class.td-style]="sourceList.showWarning()">
         {{sourceList.type}}
      </td>
      <td id="satOp">
       {{sourceList.operational}}
      </td>
      <td id="satOrb">
       {{sourceList.orbitType}}
      </td>
      <td id="satLaunch">
       {{sourceList.launchDate}}
      </td>
    </tr>
</table>

